name: Metrics

on:
  schedule: [{cron: "0 0,12 * * *"}]
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@master
        with:
          token: ${{ secrets.MY_GITHUB_TOKEN }}
          base: header, repositories
          config_padding: 0%
          plugin_isocalendar: yes
     
